# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [ ]:

import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [ ]:
 a = pd.Series([100,200,300,400])

Print a, and data type

In [ ]:

print(a)

0    100
1    200
2    300
3    400
dtype: int64

Using indexing access the element 300 from the series a.

In [ ]:
print(a[2])

300

What are the values of index for series a?

In [ ]:


Index=a.index
print(Index)

RangeIndex(start=0, stop=4, step=1)

Change the index to  ['c', 'a', 'b', 'd']

In [ ]:

 a = pd.Series([100,200,300,400], index=['c','a','b','d'])
 print(a)

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [ ]:
value_d=a.loc['d']
print(value_d)

400

Sort the values wrt to the index and print it

In [ ]:

sort_value=a.sort_index()
print(sort_value)

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [ ]:
b = pd.Series([800,450,100],index=['e','f','g'])
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [ ]:
a=pd.concat([a,b])

In [ ]:
#print a again after appending b into it

print(a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [ ]:
soreted_value=a.sort_values(ascending=False)
print(soreted_value)

e    800
f    450
d    400
b    300
a    200
c    100
g    100
dtype: int64

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [ ]:
df =pd.DataFrame(soreted_value)
print(df)

     0
e  800
f  450
d  400
b  300
a  200
c  100
g  100

In [ ]:
shape=df.shape()

TypeError: 'tuple' object is not callable

What is the shape of the datafarme <br>
(also, what does it imply?)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [ ]:
# yep its same as the series.

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [ ]:


df.head()

     0
e  800
f  450
d  400
b  300
a  200

In [ ]:


df.tail()

     0
d  400
b  300
a  200
c  100
g  100

Rename the column of the dataframe as 'points'

In [ ]:


df.columns=['points']
print(df)

   points
e     800
f     450
d     400
b     300
a     200
c     100
g     100

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [ ]:
#Create fruits array

fruits =np.array(['orane','kiwi','watermilon','pinapple','Guva','mango','apple'])
print(fruits)

['orane' 'kiwi' 'watermilon' 'pinapple' 'Guva' 'mango' 'apple']

In [ ]:
#Create series fruits out of fruits array

# fruits =

fruits =pd.Series([fruits])
print(fruits)

0    0    [orane, kiwi, watermilon, pinapple, Guva,...
dtype: object

Change the index of fruits to the index of dataframe df

In [ ]:
fruits=pd.Series(['orane','kiwi','watermilon','pinapple','Guva','mango','apple'],index=['a','b','c','d','e','f','g'])

print(fruits)

a         orane
b          kiwi
c    watermilon
d      pinapple
e          Guva
f         mango
g         apple
dtype: object

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [ ]:

New=pd.concat([df,fruits],axis=1)

   points           0
e     800        Guva
f     450       mango
d     400    pinapple
b     300        kiwi
a     200       orane
c     100  watermilon
g     100       apple

## Pandas Concatenation

Create a dataframe  d1 where the cols are  city : [Chandigarh, Delhi, Kanpur, Chennai, Manali ] and Temperature : [15, 22, 20, 26,-2]

In [ ]:
 d1 =pd. DataFrame({'City':['chandigarh','dehli','kanpur','chennai','manali'],'Temperature':[15,22,20,26,-2]})

Print(d1)

In [ ]:

print(d1)

         City  Temperature
0  chandigarh           15
1       dehli           22
2      kanpur           20
3     chennai           26
4      manali           -2

What is the shape of d1.

In [ ]:
shape=d1.shape
print(shape)

(5, 2)

Set city = d1['city']

In [ ]:


d1['City']

0    chandigarh
1         dehli
2        kanpur
3       chennai
4        manali
Name: City, dtype: object

print city <br>
What is the type of city.

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [ ]:
 d2 =pd. DataFrame({'City':['bengaluru','coimbatore','srirangam','pondicherry'],'Temperature':[24,35,36,39]})

print the shape of this dataframe

In [ ]:
print(d2)
print(d2.shape)

          City  Temperature
0    bengaluru           24
1   coimbatore           35
2    srirangam           36
3  pondicherry           39
(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [ ]:
d3 = pd.concat([d1,d1],axis=0)
print(d3)

         City  Temperature
0  chandigarh           15
1       dehli           22
2      kanpur           20
3     chennai           26
4      manali           -2
0  chandigarh           15
1       dehli           22
2      kanpur           20
3     chennai           26
4      manali           -2

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [ ]:

d3[d3['Temperature']<=20][['City']].count()

City    6
dtype: int64

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [ ]:
d3[d3['Temperature']>=35][['City']].count()

City    0
dtype: int64

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not.
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [ ]:
# write function here

# def is_ut(x):

#     # write code below

# d3['is_ut'] =

In [ ]:
# print d3

The temperatures mentioned in Temperature column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT -
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [ ]:
# write function here

In [ ]:
# check function c_to_f(10)

In [ ]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

Select only the first three rows of the dataframe d1.

Select all the rows and last two columns in the dataframe.

## Groupby

In [ ]:
# Create a dataframe using dictionary of your choice

# data =

In [ ]:
# Use Groupby of single column with aggregate sum()

In [ ]:
# Use Groupby of single column with aggregate count()

In [ ]:
# Use Groupby of single column with aggregate min() and max()

In [ ]:
# Use Groupby of any 2 columns with aggregate mean()

In [ ]:
# Use Groupby of any 2 columns with aggregate min() and max()

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [ ]:
# a =

print a

What is the len of a?

What is the type of a?